body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(https://lh3.googleusercontent.com/proxy/jvOKA-ovT3KAYg3HCP45tTXmRTISzia9XX0FwX9016jwg0h_5hvyxCH8jNfzpxrmP6pJMr7IJ3klrjykHOpnTh9KyVNMwen--XRQjzc_XA9OdRzE87-jMzs);
    background-size: cover;
}
.form{
    background: #000;
    position: absolute;
    top: 65%;
    left: 70%;
    transform: translate(-50% -50%);
    width: 260px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    opacity: 0.5;
    margin-top: 35px;
    padding: 10px;
}
h2{
    color: #000;
    margin-top: 20px;
    font-size: 35px;
    font-weight: 1000;
    text-align: center;
    text-transform: uppercase;
}
p.a{
    padding: 6px;
    width: 850px;
    height: 150px;
    text-align: justify;
    color: solid #000;
    font-size: 20px;
    text-transform: none;
    margin-left: 60px;
    margin-top: 50px;
    text-indent: 25%;
}
p.b{
    width: 850px;
    text-align: justify;
    color: #000;
    font-size: 20px;
    margin-left: 60px;
    text-indent: 25%; 
}
.form button.a{
    outline: 0;
    background: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    width: 100px;
    padding: 10px;
    border: 3.0px solid #00cca3;
    margin-right: 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 28px;
}
.from button.a:hover{
    background: #00cca3;
    transform: scale(1.1);
}
.form button.a a{
    text-decoration: none;
    color: #00cca3;
}
.form button.b{
    outline: 0;
    background: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    width: 100px;
    padding: 10px;
    border: 3.0px solid #00cca3;
    margin-left: 5px;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.5s;
}
.from button.b:hover{
    background: #00cca3;
    transform: scale(1.1);
}
.form button.b a{
    text-decoration: none;
    color: #00cca3;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    width: 800px;
    height: 250px;
    border: 2px solid #000;
}